// .container{
//     width: 90%;
//     max-width: 1366px;
// }
a{
    text-decoration: none;
}
.g-center{
    display: flex;
    align-self: center;
    justify-content: center;
}
.g-separator{
    width: 100%;
    border-bottom: $border;
}




// Scroll

/* width */
.v-list::-webkit-scrollbar,
.product-desc::-webkit-scrollbar {
    width: 4px;
}

/* Track */
// .card.product .product-details::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 5px grey; 
//     border-radius: 5px;
//     opacity: .5;
// }
 
/* Handle */
.v-list::-webkit-scrollbar-thumb,
.product-desc::-webkit-scrollbar-thumb {
    background: #f1f1f1; 
    border-radius: 5px;
}

/* Handle on hover */
.v-list::-webkit-scrollbar-thumb:hover,
.product-desc::-webkit-scrollbar-thumb:hover {
    opacity: .75; 
}