header{
    .v-toolbar__title{
        min-width: 150px;
        .logo{
            width: 70%;
            max-width: 200px;
            img{
                width: 100%;
                height: auto;
                max-width: 200px;
            }
        }
    }
}
.g-main-nav a{
    text-transform: uppercase;
}